@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
     <ul class="list-group">
        <li class="list-group-item">
            <label for="hideDoneItems">Hide done items</label>
            <input type="checkbox" id="hideDoneItems" />
        </li>
        <li class="list-group-item">
            <button id="orderByRankBtn" type="button" class="btn btn-primary">
                Order by rank
            </button>
        </li>
    </ul>
</div>

@{
    await Html.RenderPartialAsync("~/Views/TodoItem/CreateTodoItemModal.cshtml", Model.CreateTodoItemFields);
}

@Html.HiddenFor(o => o.TodoListId);

<div class="col-md-6">   

    @{
        await Html.RenderPartialAsync("~/Views/TodoList/DetailListPartial.cshtml", Model);
    }

</div>
